.formContainer {
    display: flex;
    justify-content: center;
}

.errorList {
    display: flex;
    color: red;
}

.signUpForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

label {
    display: flex;
    align-self: center;
}

.signUpButton {
    display: flex;
    align-self: center;
    margin-top: 25px;
}

label {
    padding: 5px 0 5px 0;
}

input {
    margin: 0 0 0 10px;
}
