.formContainer {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.errorList {
    display: flex;
    color: red;
}

.signUpForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hideErrorList {
    display: none;
}

.signUpButton {
    display: flex;
    align-self: center;
    border-radius: 15px;
    padding: 10px;
    border-color: black;
}
