.mainBody {
    position: relative;
    top: 125px;
}

.allSpotInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.bottomSection {
    display: flex;
    justify-content: center;
    max-width: 75%;
    width: 100%;
}

.spotsDeleteAndEditButtonsContainer {
    display: flex;
    justify-content: flex-end;
}

.spotsDeleteAndEditButtons {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}
.outerSpotInfoContainer {
    display: flex;
    justify-content: center;
}

.reviewContainer {
    width: 100%;
    height: 100%;
}

.topSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 25px 0px;
}

.mainBodyBackGround {
    background-color: white;
}

.spotsDeleteAndEditButtonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spotsDeleteAndEditButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.spotsDeleteAndEditButtons > * {
    padding: 0px 10px 10px 10px;
}
