.editFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
}



.editForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 200px;
}
