.formContainer {
    display: flex;
    justify-content: center;
}

.errorList {
    display: flex;
    color: red;
}

.hideErrorList {
    display: none;
}

.loginForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

.loginButton {
    display: flex;
    align-self: center;
    border-radius: 15px;
    padding: 10px;
    border-color: black;
}
